<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form action="/profile/edit" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" value="<%= user.name %>" id="name" name="name" class="form-control"
            placeholder="Enter Name" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" value="<%= user.email %>" id="email" name="email" class="form-control"
            placeholder="Enter Email" />
        </div>

        <div class="form-group">
          <label for="description" data-toggle="tooltip" title="280 maximum chars">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" maxlength="280"
            placeholder="Enter a short description of you"><%= user.description %></textarea>
        </div>
        <a href="../profile">Cancel</a>
        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>