<div>
    <img src="" alt="Image profile" width="400px" height="300px">
    <h2 id="user-name">Jon Doe</h2>
    <div>
        <h5>Sports</h5>
        <ul>
            <li>Soccer</li>
            <li>Basketball</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body post">
            <img src="" alt="img-post" id="img-post">
            <p class="card-text" id="desc-post">Here it goes the content that </p>
            <a href="#" class="btn btn-info">Edit</a>
        </div>
    </div>
</div>