<section class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h2>New Event</h2>
        <form action="/event" method="POST" enctype="multipart/form-data">
          <%- include('_form_fields') %>
          <a href="../dashboard">Cancel</a>
          <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>
      </div>
    </div>
  </div>
</section>